.parent { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }
    .portrait{
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
    

    