
.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 200px;
    padding-bottom: 200px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
    ;
}

/* .box-styling {
    height: 350px;
    background-color: rgb(110, 110, 110);
    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  } */

.box-wrapper{
  /* height:350px; */
  border-radius: 1%;
}
.box1 {
    grid-area: a;
    clip-path: square(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}
/* MEDIA QUERY FOR MOBILE */
@media screen and (max-width:1000px){
    nav {
        padding-left: 0;
     
    }

   .image-gallery {
       padding-bottom: 200%;
       margin-left:10%;
       margin-right:10%;
       grid-template-columns: 1fr;
       grid-template-areas:
       "a"
       "b"
       "c"
       "d"
       "e"
       "f"
       ;
   } 
}
