/* *{
  border: 3px red solid;
} */

body{
    background-color: #FFF7EF;
    align-items: center;

}
.hero-container img{
  /* padding-top:200px; */
  margin-left:20%;
  margin-right:20%;
  width:100%;
  display: block;
  margin: 0 auto;
}
/* nav bar hover effects */



nav{
  /* padding-left:20em; */
  /* padding-right: 20em; */
  display:inline-block;
  margin: 0 auto;
  /* TODO: figure out no longer staying fixed */
  /* position:fixed; */
  width: 100%;
  /* top:0; */
  /* left: 50%; */
  z-index:10;
}

nav li{
  margin-left:auto;
  margin-right:auto;
}

nav ul {
  /* margin:0 auto; */
  display:flex;
  margin:0 auto;
  padding:0px;
}
nav ul li{
  /* padding: 1em 0; */
  list-style-type:none;
  padding: 25px;
  font-size: 1em;
  font-family:'Poppins', sans-serif;
  /* font-weight: @200; */
}

  
  nav li a {
    color:rgb(65, 77, 9);
    font-weight: 600;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:rgb(193, 116, 137);
    opacity: 1;
    /* text-decoration: underline; */
    /* text-decoration-line:underline; */
    border: dashed;
    border-width: 3px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
/*styling for logo*/

 /* .logomark svg{
  size: 40%;
 } */
 
 /* type styling */
 p{
    color:rgb(65, 77, 9);
    font-family:'Poppins',sans-serif;
    margin-left:10%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-indent: 20pt each-line;
    font-size: 15px;
 }
 .hero-paragraph{
  color:rgb(65, 77, 9);

 }

.paragraph-starter{
  font-size: 20pt;
  color:rgb(130, 43, 111) ;

}


footer {
  text-align: center;
  
}

/*desktop grid*/
 @media only screen and (min-width: 1200px){
 
  .logomark img{
    /* size: 20px; */
    width: 900px;
    display: block;
    margin: 0 auto;
    /* margin-left:37%; */
    /* margin-right: 30%; */

  }

  /* nav{
    padding-left:20em;
    padding-right: 20em;
    margin: auto property;
    width: 100%;
    left: 50%;
    z-index:10;
  } */

  .hero-container img{
    /* padding-top:200px; */
    margin-left:20%;
    margin-right:20%;
    width:60%;
    display: block;
    margin: 0 auto;
  }
  .paragraph-starter{
    font-size: 45pt;
    color:rgb(130, 43, 111) ;
  
  }
  p{
    color:rgb(65, 77, 9);
    font-family:'Poppins',sans-serif;
    margin-left:30%;
    margin-right: 30%;
    margin-bottom: 10%;
    text-indent: 25pt each-line;
    font-size: 25px;
 }
 
 
 /*desktop box animation stuff starts here*/
/* Boxes */
.box {
  background: #FFF;
  border: solid 4px #CCC;
  cursor: pointer;
  display: inline-block;
  height: 100px;
  margin: 25px;
  position: relative;
  width: 100px;
}


/* Box Colors */
.red::before, 
.red::after { 
  border: dashed 4px #F44336; 
}

.yellow::before,
.yellow::after {
  border: solid 4px #FFC107;
}

.green::before,
.green::after {
  border: dashed 4px #4CAF50;
}

.blue::before,
.blue::after {
  border: dashed 4px #2196F3;
}


/* Box Borders */
.box::before,
.box::after {
  background: transparant;
  content: '';
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
.box::before {
  border-bottom: 0;
  border-left: 0;
  left: -4px;
  top: -4px;
}
.box::after {
  border-right: 0;
  border-top: 0;
  bottom: -4px;
  right: -4px;
}

.box:hover::before,
.box:hover::after {
  height: 104px;
  opacity: 1;
  width: 104px;
}


/* Box Animations */
.solo::before { transition: opacity 0s .4s, width .1s .3s, height .1s .2s; }
.solo:hover::before { transition: opacity 0s 0s, width .1s 0s, height .1s .1s; }
.solo::after { transition: opacity 0s .2s, width .1s .1s, height .1s 0s; }
.solo:hover::after { transition: opacity 0s .2s, width .1s .2s, height .1s .3s; }

.double::before { transition: opacity 0s .4s, width .2s .2s, height .2s 0s; }
.double:hover::before { transition: opacity 0s 0s, width .2s 0s, height .2s .2s; }
.double::after { transition: opacity 0s .4s, width .2s .2s, height .2s 0s; }
.double:hover::after { transition: opacity 0s 0s, width .2s 0s, height .2s .2s; }
}